@import url("https://fonts.google.com/specimen/Hanken+Grotesk");

:root{
    /* Core Colors */
    --LightRed: hsl(0, 100%, 67%);
    --OrangeYellow: hsl(39, 100%, 56%);
    --GreenTeal: hsl(166, 100%, 37%);
    --CobaltBlue: hsl(234, 85%, 45%);

    /* Background Gradients */
    --LightSlateBlue: hsl(252, 100%, 67%);
    --LightRoyalBlue: hsl(241, 81%, 54%);

    /* Circle Gradients */
    --VioletBlue: hsla(256, 72%, 46%, 1);
    --PersianBlue: hsla(241, 72%, 46%, 0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p, h3, h4, button{
    font-size: 18px;
}

h2{
    font-size: 32px;
    text-align: center;
}

p, h2, h3, h4, button, span{
    font-family: 'Hanken Grotesk', sans-serif;
}

.attribution{ 
    font-size: 11px; text-align: center; 
}

.attribution a{
    color: hsl(228, 45%, 44%); 
}

.container{
    width: 1000px; 
    max-width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(var(--LightSlateBlue), var(--LightRoyalBlue));
    color: white;
    width: 50%;
}

.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 50%;
}

.attribution{
    position: absolute;
    bottom: 0;
    left: 0;
}

#resultTitle{
    padding: 50px;
    color: lightgray;
}

.results h2{
    padding: 20px;
}

.results .score{
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    width: 50%;
    background-image: linear-gradient(var(--VioletBlue), var(--PersianBlue));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results .scoreDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results .scoreDescription p{
    color: lightgray;
    width: 70%;
    text-align: center;
    font-size: 24px;
}

#points{
    font-size: 96px;
    font-weight: 550;
    padding: 0;
    margin: 0;
}

.summary .categoryResult{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 10%;
    border-radius: 10px;
    margin: 10px;
}

.summary h2{
    width: 80%;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 40px;
}

#reaction{
    background-color: hsl(0, 100%, 95%);
}

#memory{
    background-color: hsl(39, 100%, 95%);
}

#verbal{
    background-color: hsl(166, 100%, 95%);
}

#visual{
    background-color: hsl(234, 85%, 95%);
}

#reaction h4, #reaction i{
    color: var(--LightRed);
}

#memory h4, #memory i{
    color: var(--OrangeYellow);
}

#verbal h4, #verbal i{
    color: var(--GreenTeal);
}

#visual h4, #visual i{
    color: var(--CobaltBlue);
}

.categoryResult i{
    padding: 20px;
}

.categoryResult p{
    width: 100%;
    text-align: right;
    padding-right: 20px;
}

.hundred{
    color: gray;
}

button{
    background-color: hsl(224, 30%, 27%);
    border: none;
    width: 80%;
    height: 10%;
    border-radius: 30px;
    color: white;
    margin-top: 50px;
}

button:hover{
    cursor: pointer;
    background-color: var(--LightSlateBlue);
    background-image: linear-gradient(var(--LightSlateBlue), var(--LightRoyalBlue));
}